####################################################################################
#	#This file has all the directories and files that normaly we don't want to add 
#	#to the reposity
#
#	#Normally these unwanted files are the results folders
#	#The available space in github is limited, so the reposity only contains the 	
#	#necessary files to reproduze the results
#
#	#Next, the unwanted files are separeted by project, stating with the the SOURCES
#
#	(last edit: 29 may 2018)
####################################################################################

	#Files from SOURCES_MATLAB
#...

	#Files from SOURCES_FREEFEM
SOURCES_FREEFEM/Stab2D_VIVantigoooooooooooo.edp

	#Files from Article
ARTICLE_STABFEM/*

	#Files from CYLINDER
CYLINDER/Cylinder_*
CYLINDER/WORK/

	#Files from CYLINDER_VIV (D.Sabino files)
CYLINDER_VIV/Final_results*
CYLINDER_VIV/Final_Results*
CYLINDER_VIV/Latex_data/
CYLINDER_VIV/WORK/
CYLINDER_VIV/WORK_copie_FORCED_PROBLEM/
CYLINDER_VIV/General_images/
CYLINDER_VIV/Navrose_Data/
CYLINDER_VIV/Stab2D_VIVbis.edp
CYLINDER_VIV/FOLDER_TOTO/
CYLINDER_VIV/TRASH/
CYLINDER_VIV/Impedance_Treatement/
CYLINDER_VIV/Modes_Tecplot/

ZOLD_CYLINDER_VIV/

	#Files from Cavity (D.Sabino files)

Cavity/Results_v1/Guess_for_2nd_branchHB2/Re*
Cavity/Results_v1/Guess_for_2nd_branchHB1/Re*
Cavity/Results_v1/Guess_for_1nd_branchHB2/Re*


